:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

* {
  padding: 0;
  margin: 0;
}

.preloader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  transition: all .09s ease-out;
}

.preloader--hide {
  display: none;
  z-index: -1;
}

.preloader__loader, .preloader__percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.preloader__percent {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

@keyframes ldio-yzaezf3dcml {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}

.ldio-yzaezf3dcml div {
  position: absolute;
  animation: ldio-yzaezf3dcml 1s linear infinite;
  width: 136.96px;
  height: 136.96px;
  top: 38.52px;
  left: 38.52px;
  border-radius: 50%;
  box-shadow: 0 7.276000000000002px 0 0 #23dee8;
  transform-origin: 68.48px 72.11800000000001px;
}

.loadingio-spinner-eclipse-2by998twmg9 {
  width: 214px;
  height: 214px;
  display: inline-block;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
}

.ldio-yzaezf3dcml {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}

.ldio-yzaezf3dcml div { 
  box-sizing: content-box; 
}